<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.comment.mapper.CommentReplyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.comment.entity.CommentReply">
        <id column="id" property="id" />
        <result column="comment_id" property="commentId" />
        <result column="parent_id" property="parentId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="reply_text" property="replyText" />
        <result column="reply_date" property="replyDate" />
        <result column="status" property="status" />
        <result column="forbid_reply" property="forbidReply" />
        <result column="praise_num" property="praiseNum" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, comment_id, parent_id, user_id, user_name, reply_text, reply_date, status, forbid_reply, praise_num
    </sql>

</mapper>
